/* Základní styl pro stránku */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #161616;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* zajistí, že stránka bude mít minimální výšku 100% okna */
}

/* Styl pro hlavičku stránky */
header {
    text-align: center;
    padding: 0px;
    position: relative;
    z-index: 10;
    border-bottom: 1px solid #161616; /* rámeček */
    background-color: transparent; /* Záhlaví bude průhledné, aby ukázalo pozadí */
}

/* Kontejner pro posouvající se text */
.scrolling-text {
    display: flex;
    overflow: hidden; /* Skryje obsah mimo viditelnou oblast */
    white-space: nowrap; /* Zabraňuje zalomení textu na více řádků */
}

/* Samotný text - dvě identické části pro nekonečné posouvání */
.scrolling-text span {
    display: inline-block;
    padding-right: 10px; /* Bez mezery mezi texty */
    animation: scroll 60s linear infinite; /* Plynulá animace pro rolování textu */
    font-size: 2em;
    text-transform: uppercase;
}

/* Definice animace */
@keyframes scroll {
    0% {
        transform: translateX(0); /* Text začíná na začátku */
    }
    100% {
        transform: translateX(-100%); /* Posune text o přesně jednu šířku textu */
    }
}

/* Sekce pro logo */
.logo-section {
    width: 100%; /* Logo pokryje 100% šířky stránky */
    display: flex; /* Flexbox pro snadné zarovnání obsahu */
    justify-content: center; /* Logo zarovnáno horizontálně na střed */
}

/* Styl pro logo */
.logo {
    width: 100%; /* Logo se přizpůsobí šířce sekce */
    padding: 10px; /* Přidá prostor uvnitř obrázku */
    margin: 10px; /* Přidá prostor kolem obrázku */
    display: block; /* Zajistí, že obrázek nebude mít žádné mezery kolem */
    max-width: 100%; /* Zabrání tomu, aby logo přesahovalo šířku stránky */
    height: auto; /* Automaticky upraví výšku podle šířky */
    object-fit: cover; /* Logo se roztáhne na celou šířku a případně ořízne, aby se přizpůsobilo sekci */
}

/* Sekce s projektem */
.project-section {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr; /* Levý sloupec je užší (0.5fr), prostřední širší (2fr), pravý stejný (1fr) */
    align-items: start;
}

/* Název projektu v prvním sloupci */
.project-title {
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 10px; /* Přidá prostor uvnitř obrázku */
    margin: 10px; /* Přidá prostor kolem obrázku */
}

/* Galerie v druhém sloupci - obsahuje jeden obrázek */
.project-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px; /* Přidá prostor uvnitř obrázku */
    margin: 10px; /* Přidá prostor kolem obrázku */
}

.project-gallery img {
    max-width: 100%;  /* Obrázek se přizpůsobí šířce kontejneru */
    height: auto;     /* Udržuje poměr stran */
}

/* Skrýváme všechny obrázky, kromě toho, který je aktivní */
.project-image {
    display: none;
    max-width: 100%;
    height: auto;
}

/* Zobrazíme pouze obrázek s třídou "active" */
.project-image.active {
    display: block;
}

/* Kontejner tlačítek */
.button-container {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

/* Základní styl tlačítek */
button {
    padding: 5px 15px;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* Popis projektu ve třetím sloupci */
.project-description {
    text-align: left;
    padding: 10px; /* Přidá prostor uvnitř obrázku */
    margin: 10px; /* Přidá prostor kolem obrázku */
}

footer {
    color: #161616; /* Bílý text */
    text-align: center; /* Centrování textu */
    padding: 0; /* Mezera kolem textu, přizpůsob podle potřeby */
    left: 0;
    bottom: 0;
    width: 100%; /* Zápatí zabírá celou šířku stránky */
    border-top: 1px solid #161616; /* rámeček */
  }
  
  footer p {
    margin: 0; /* Odstraní výchozí okraje p tagu */
    font-size: 2em; /* Nastavení velikosti písma */
}  

/* Media query pro mobilní zařízení */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 0.5em;
        font-weight: bold;
        padding: 10px;
    }

    .column {
        width: 100%; /* Sloupce budou mít 100% šířky na mobilních zařízeních */
        margin: 0px auto;
    }
    
    .project-section {
        display: block; /* Sloupce budou zobrazeny pod sebou */
        padding: 3px;
    }

    .logo {
    padding: 3px;
    margin: 3px;
  }
}
